{% extends "base.html" %}
{% block content %}

<div class="pen-title">
  <h1>Optrack</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Click Me</div>
  </div>
  <div class="form">
    <h2>Login to your account</h2>
      <form method="post" action="{% url 'webapp:index' %}">
        {% csrf_token %}      
        <input type="text" placeholder="Username" name="username" />
      <input type="password" placeholder="Password" name="password" />
      <button name="login">Login</button>
    </form>
  </div>
  {% if registered %}
    <h1>Thank you for registering!</h1>
  {% else %}
    <div class="form">
    <h2>Create an account</h2>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{ user_form.as_p }}

      <input type="text" placeholder="Username" name="username"/>
      <input type="password" placeholder="Password" name="password"/>
      <input type="email" placeholder="Email Address" name="email"/>
      <button name="register">Register</button>
    </form>
  </div>
  {% endif %}

  <div class="cta"><a href="#">Forgot your password?</a></div>
</div>

{% endblock content %}